---
image: registry.git.coop/webarch/containers/images/ansible:0.24.0
variables:
  PY_COLORS: "1"
  ANSIBLE_FORCE_COLOR: "1"
before_script:
  - chmod 700 $(pwd)
  - ls -lah
  - pwd
molecule:
  stage: test
  script:
    - molecule test
# vim: syntax=yaml
...
