# Copyright 2023 Chris Croome
#
# This file is part of the Webarchitects OpenProject Ansible role.
#
# The Webarchitects OpenProject Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects OpenProject Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects OpenProject Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: OpenProject role skipped
  ansible.builtin.debug:
    msg: "The tasks in the OpenProject role are not being run since the openproject variable is not true."
  when: not openproject | bool
  tags:
    - openproject

- name: OpenProject
  block:

    - name: Include apt role local fact tasks
      ansible.builtin.include_role:
        name: apt
        tasks_from: local_facts.yml
      when: >-
        ( ansible_local.dpkg.arch is not defined ) or
        ( ansible_local.dpkg.installed is not defined ) or
        ( ansible_local.gpg.version is not defined ) or
        ( ansible_local.bash.path is not defined )

    - name: Include the apt tasks
      ansible.builtin.include_tasks: apt.yml

    - name: Install packages
      ansible.builtin.apt:
        pkg: "{{ openproject_pkgs_present }}"
        state: present
        update_cache: true

  when: openproject | bool

  tags:
    - openproject
...
