# {{ ansible_managed }}

Types: deb
URIs: https://dl.packager.io/srv/deb/opf/openproject/stable/{{ openproject_major_version }}/{{ ansible_distribution | lower }}
{% if ansible_distribution == "Debian" %}
Suites: {{ ansible_distribution_major_version }}
{% elif ansible_distribution == "Ubuntu" %}
Suites: {{ aansible_distribution_version }}
{% endif %}
Architectures: {{ ansible_facts.ansible_local.dpkg.arch }}
Components: main
Signed-By: /etc/apt/keyrings/openproject.gpg

# vim: ft=debsources
